/* Contenedor general para el botón de Paybox */
.paybox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}
/* Estilos del contenedor de carga */
.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.05);
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 4px solid #38813F; /* Cambia el color del spinner */
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-text {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

/* Estilos de los detalles de la transacción */
.transaction-details {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.transaction-details h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #38813F;
}

.transaction-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.transaction-card p {
    font-size: 16px;
    line-height: 1.5;
    margin: 8px 0;
}

.transaction-card p strong {
    color: #2e6934; /* Cambia el color de los textos importantes */
}
